/* Nav element */
nav {
  height: 255px;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
    0deg,
    rgba(var(--color-primary-100), 0) 0%,
    rgb(var(--color-primary-300)) 60%
  );
  z-index: 2;
}

.navBar {
  z-index: 99;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2xs);
  padding: var(--space-m) var(--space-4xl);
  background-color: rgb(var(--color-primary-300));
}

nav * {
  text-decoration: none;
  font-size: var(--space-m);
  color: rgb(var(--color-text));
}

.logo {
  width: 200px;
}
